@charset "utf-8";
/* CSS Document */

.research_page {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0 0;
}
.main_ttl {
    padding: 0;
    margin: 0 0 30px;
}
.main_ttl h2 {
	display: flex;
	align-items: center;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    color: #111;
}
.main_ttl h2:before ,  .main_ttl h2:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #d1d1d1;
}
.main_ttl h2:before {
    margin-right: 1rem;
}
.main_ttl h2:after {
    margin-left: 1rem;
}
.sub_ttl {
    padding: 0;
    margin: 0 0 30px;
}
.sub_ttl h3 {
    text-align: left;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
    padding: 0;
    margin: 0 0 30px;
    color: #111;
}
.research_box {
    padding: 0;
    margin: 0 0 50px;
    text-align: left;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    color: #111;
}
.research_box:last-child {
    margin: 0;
}
.research_box .contents_area p{
	padding: 0;
	margin: 0;
}
.research_box .contents_area p.contents01 a {
	color: #003E85;
}
.research_box .contents_area p.contents02 a {
	color: #E84A27;
}




























