@charset "utf-8";
/* CSS Document */

/*
.research_page {
  max-width: 1200px;
	margin-right: auto;
  margin-left: auto;
	width: 65%;
	padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  padding: 40px 0px 40px;
}
*/
.research_page {
  max-width: 1200px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 30px 50px;
  box-sizing: border-box;
}
.main_ttl {
  padding: 0;
  margin: 0 0 20px;
}
.main_ttl h2 {
	display: flex;
	align-items: center;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  color: #111;
}
.main_ttl h2:before ,  .main_ttl h2:after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #d1d1d1;
}
.main_ttl h2:before {
  margin-right: 1rem;
}
.main_ttl h2:after {
  margin-left: 1rem;
}
.sub_ttl {
  padding: 25px 0 17px;
  margin: 0 0 0;
}
.sub_ttl h3 {
  text-align: left;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  color: #111;
}
/* Added on 2024-01-09 --> Does not work */
/*
.reversed-ol {
  list-style-type: none;
  counter-reset: list-total 2;
}
.reversed-ol li {
  counter-increment: list-total -1;
  padding: 0;
  margin: 0px 0px 20px;
  text-align: left;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  color: #111;
}
.research_box .paper_title::before {
    counter-increment: item-counter -1;
    content: "[" counter(item-counter) "] ";
    font-weight: bold;
    margin-right: 10px;
}
*/
.research_box {
  padding: 0;
  margin: 0px 0px 15px;
  text-align: left;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  color: #111;
}
.research_box:last-child {
  margin: 0;
}
.contents_area {
  padding-left: 10px;
}
.research_box p {
	padding: 0;
	margin: 0;
	word-wrap: break-word;
}
.research_box p.box_ttl {
  font-weight: 500;
	margin-bottom: 0px;
}
/*
.research_box .contents_area p.contents01 a , .research_box .contents_area p.contents01 span.link_none {
	color: #979797;
}
*/
/* Author name をグレーにしている */
.research_box .contents_area p.contents01 a,
.research_box .contents_area p.contents01 span.link_none {
    color: #979797;
}
.research_box .contents_area p.contents01 span.link_none .highlight {
    color: #696969;
}
.research_box .contents_area p.contents02 span.link_none {
	color: #E84A27;
}
.info_block {
  padding: 0 0 0 10px;
  display: block;
}
.switch {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  font-weight: normal;
  display: inline-block;
}
span.abstract.switch a {
  color: #1565c0;
}
.info_block.link01 span.abstract.switch.open + span.abstract.container01 ,
.info_block.link02 span.abstract.switch.open + a + span.abstract.container01 ,
.info_block.link03 span.abstract.switch.open + a + a + span.abstract.container01 ,
.info_block.link04 span.abstract.switch.open + a + a + a + span.abstract.container01 {
  height: 100%;
  word-wrap: break-word;
	margin-top: 10px;
}
.container01 {
  height: 0px;
  padding: 0px;
  display: block;
  overflow: hidden;
  background-color: rgba(0,0,0,.05);
}
.container01.open {
  overflow: visible
}
.info {
  padding: 2%;
  display: block
}
.info>p:first-of-type {
  margin-top: 0em
}
.info>p:last-of-type {
  margin-bottom: 0em
}
.abstract.switch>a:before {
  float: left !important;
  font-family: 'Lucida Console';
  content: "−";
  padding-right: 5px
}
.abstract.switch:not(.open)>a:before {
  float: left !important;
  content: "+"
}

@media screen and (max-width: 1200px) {
  .research_page {
    width: 65%;
  }
  .sub_ttl h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 580px) {
  .research_page {
    padding: 30px 0 0;
  }
  .research_box {
    margin: 0px 0px 50px;
  }
  .main_ttl h2 {
    font-size: 20px;
  }
  .sub_ttl {
    margin: 0 0 25px;
  }
  .sub_ttl h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 580px) {
  .research_box {
    font-size: 16px;
  }
}
