@charset "utf-8";
/* CSS Document */

body{
	font-family: 'Merriweather', serif;
	color: #111;
	margin-top: 64px;
}
.page-wrapper {
	min-height: calc(100vh - 64px);
}

/* header */
.container {
	max-width: 1200px;  /* Adjust this to match your navbar's width */
	margin-right: auto;
	margin-left: auto;
	width: 65%;         /* Adjust this percentage to control the overall width */
	/* padding-right: 15px; */
	/* padding-left: 15px;  */
	box-sizing: border-box; /* This ensures padding is included in the width */
	/* padding: 0px 40px 0px 40px; */
}
.navbar {
    height: 64px;
    box-shadow: none;
    border-bottom: 1px solid #d1d1d1;
    box-sizing: border-box;
}
a.navbar-brand {
    font-family: 'Merriweather', serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #111 !important;
}
.justify-content-start {
    justify-content: flex-end!important;
}
.navbar .nav-item {
    padding: 0;
    margin: 0 50px 0 0;
}
.navbar .nav-item:last-child {
    margin: 0;
}
#navbar-main .main-menu-item ul li .nav-link {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #111;
}

/* top */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
}
#profile {
	padding: 0;
}
.avatar-circle {
    border-radius: 0;
}
.avatar {
    width: 75%;
    height: 75%;
    max-width: 350px;
}
.portrait-title h2 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    padding: 0;
    margin: 20px 0 15px;
    color: #111;
}
.portrait-title h3 {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    padding: 0;
    margin: 0 0 15px;
    color: #111;
}
.portrait-title h3 a {
    text-decoration: none;
}
#profile .network-icon {
    margin-top: 10px;
}
.network-icon li {
    margin-right: 30px;
}
.fa-mail img {
    display: block;
    width: 30px;  /* Adjusted width */
    height: auto; /* Adjusted height for aspect ratio */
    padding: 0;
    margin: 3px 0 0;
}
.flexbox01 {
    padding: 0;
    margin: 0;
    flex: none;
    width: 27%;
    max-width: 350px;
}
.flexbox02 {
    padding: 0;
    margin: 0;
    flex: none;
    width: 65%;
    max-width: 840px;
}
.flexbox02 h2 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    padding: 0;
    margin: 0 0 30px; /* vertical space */
    color: #111;
}
.article-style {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.8;
    padding: 0;
    margin: 0;
    color: #111;
}
.article-style p {
    margin-bottom: 1.5rem;
}
.article-style p a {
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 65%;      /* Adjust this percentage as needed */
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px; /* Consistent padding */
        padding-left: 15px;  /* Consistent padding */
    }
    .navbar .nav-item {
        margin: 0 40px 0 0;
    }
}

@media screen and (max-width: 1024px) {
.navbar .nav-item {
    margin: 0 25px 0 0;
}
}

@media screen and (max-width: 991px) {
.navbar-collapse {
    top: 64px;
}
a.navbar-brand {
    margin: 0 auto;
}
.navbar-light .navbar-toggler{
	color: #333;
}
.navbar-toggler {
	font-size: 1.8rem;
}
.big-icon {
    font-size: 2.5rem;
}
}

@media screen and (max-width: 768px) {
.wg-about .avatar {
    width: 100%;
    height: 100%;
	max-width: 400px;
}
}

@media screen and (max-width: 640px) {
    .container {
        max-width: 100%;     /* Full width for small screens */
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px; /* Consistent padding */
        padding-left: 15px;  /* Consistent padding */
    }
    .flexbox01, .flexbox02 {
        width: 100%;
        max-width: 100%;
    }
    .flexbox01 {
        margin: 0 0 30px;
    }
    .portrait-title h2 {
        margin: 25px 0 15px;
    }
}

.fa-github, .fa-linkedin {
    font-size: 0.9em;
}

.vertical-space {
  height: 0.5cm; /* Or use '10mm' for exactly 1 cm, or '0.5cm' for less than 1 cm */
}

@media screen and (max-width: 480px) {
.flexbox02 h2 {
    margin: 0 0 20px;
}
.portrait-title h2 {
    margin: 25px 0 15px;
}
}
